@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;500&family=Kanit:wght@300&family=Lora:wght@400;500&family=Poppins:wght@400;500&display=swap');

*{
  font-family: 'IBM Plex Sans', sans-serif;
  font-family: 'Kanit', sans-serif;
  font-family: 'Lora', serif;
  font-family: 'Poppins', sans-serif;
  color:rgb(72, 68, 68);
}

.nav-bar{
  background-color:transparent;
}

.coin-name:hover{
  color: #ffcb2d;
}